<%= form_with(model: [@blog, @post, @comment], local: true) do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
